/__pycache__/
/login_window/__pycache__/
/main_window/__pycache__/
/admin/__pycache__/
/hall/__pycache__/

/adminDashBoard/
/seats/
/seats_window/
/movie_description/

/prubyl.ui
/about.ui

/db_connection.py